<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>
        
        <div ng-app="ohm-delivery">
            <div ng-controller="tracking">
                <form ng-submit="requestOhm()">
                    <div class="input">
                        <input id="tracking" type="text" ng-model="trackingId" placeholder="Enter your tracking id"/>
                    </div>
                    <div class="input">
                        <button id="formBtn" type="submit" class="button">Submit</button>
                    </div>                    
                </form>
                <div ng-if="trackingElement" class="tracking-element">
                    <table>
                        <tr ng-repeat="(key, value) in trackingElement">
                            <th>{{key}}</th>
                            <td>{{value}}</td>
                        </tr>
                    </table>
                    <div class="tracking-update">
                        <button ng-click="updateOhm()" class="update-button">Update</button>
                    </div>
                </div>
                <div ng-if="errorDisplay" class="error-log" >
                    <p>{{errorDisplay}}</p>
                </div>
            </div>            
        </div>
    </body>
</html>